In [2]:
from AuxiliaresBot import ReadTemp
import pandas as pd
import csv

In [5]:
temp_335= ReadTemp('/home/bruce/Documents/Programas/Bot/history_2023Aug11.txt')

# DataFrame de Usuarios

In [272]:
path_userinfo_csv = '/home/labdet/Documents/MauSan/Programas/Repositorio_Git/Bot/UsersBot.csv'

with open(path_userinfo_csv, 'w', newline='') as file:
    firstKeys = ['User_ID', 'Temp_Alarm']
    writer = csv.DictWriter(file, fieldnames = firstKeys)
    writer.writeheader()
    writer.writerow({'User_ID' : '18616105', 'Temp_Alarm' : False})
    
    file.close()

DataFrame = pd.read_csv(path_userinfo_csv)
DataFrame

    User_ID  Temp_Alarm
0  18616105       False

In [262]:
def Users_DataFrame(path_userinfo_csv):
    User_dataframe = pd.read_csv(path_userinfo_csv)
    return User_dataframe

def AddUser_to_csv(DataFrame, user_id, number_of_jobs):
    user_ID_Flag = True

    for user in list(DataFrame['User_ID']):
        if int(user) == user_id:
            print('El usuario ya está registrado')
            user_ID_Flag = False
        
    if user_ID_Flag:
        if number_of_jobs == 1:
            DataFrame.loc[len(DataFrame.index)] = [str(user_id), False]
            DataFrame.to_csv(path_or_buf = path_userinfo_csv, index_label=False)
            DataFrame = pd.read_csv(path_userinfo_csv)
        
        elif number_of_jobs == 2:
            DataFrame.loc[len(DataFrame.index)] = [str(user_id), False, True]
            DataFrame.to_csv(path_or_buf = path_userinfo_csv, index_label=False)
            DataFrame = pd.read_csv(path_userinfo_csv)
    
    else: 
        DataFrame = DataFrame

    return DataFrame

def UpdateValue_to_csv(user_id, DataFrame, option = 0):
    for index_user in range(0,len(DataFrame['User_ID'])):
        if DataFrame['User_ID'][index_user] == user_id:
            index_user = index_user

    if option == 0:
        DataFrame.loc[index_user,'Temp_Alarm'] = not DataFrame['Temp_Alarm'][index_user]
        DataFrame.to_csv(path_or_buf = path_userinfo_csv, index_label=False)
        DataFrame = pd.read_csv(path_userinfo_csv)
        return DataFrame
    
    ## Agregar mas valores para mas alertas o tareas.

def AddJob_to_csv(DataFrame, job_name, job_value_default):
    DataFrame[str(job_name)] = job_value_default
    DataFrame.to_csv(path_or_buf = path_userinfo_csv, index_label=False)
    DataFrame = pd.read_csv(path_userinfo_csv)
    return DataFrame

In [277]:
user_new = 1029384756

dfUsers = Users_DataFrame(path_userinfo_csv)
print('Primer Data:')
display(dfUsers)

dfUsers = AddUser_to_csv(dfUsers, user_new,1)
print('añadiendo un usuario:')
display(dfUsers)

dfUsers = UpdateValue_to_csv(user_new, dfUsers)
print('Actualizando unn valor:')
display(dfUsers)

dfUsers = AddJob_to_csv(dfUsers, 'X_Alarm', True)
print('añadiendo una tarea:')
display(dfUsers)

## Ya no agrega a los mismos usuarios
dfUsers = AddUser_to_csv(dfUsers, user_new,2)
display(dfUsers)

# type(list(dfUsers['User_ID'])[0])
print(len(dfUsers.columns))

Primer Data:

      User_ID  Temp_Alarm  X_Alarm
0    18616105       False     True
1  1029384756       False     True

El usuario ya está registrado
añadiendo un usuario:

      User_ID  Temp_Alarm  X_Alarm
0    18616105       False     True
1  1029384756       False     True

Actualizando unn valor:

      User_ID  Temp_Alarm  X_Alarm
0    18616105       False     True
1  1029384756        True     True

añadiendo una tarea:

      User_ID  Temp_Alarm  X_Alarm
0    18616105       False     True
1  1029384756        True     True

El usuario ya está registrado

      User_ID  Temp_Alarm  X_Alarm
0    18616105       False     True
1  1029384756        True     True

3

In [247]:
for user in list(dfUsers['User_ID']):
    print(str(user), type(user))

9062001 <class 'int'>
1029384756 <class 'int'>
1029384756 <class 'int'>

# Lineas de Archivo de Temperatura

In [7]:
print(temp_335)
# tempList = temp_335.split(' ')

['21:14:47', '2023-08-23,', '+170.00,', '+169.97,', 'HP', '+002.9%', 'High']

In [39]:
cleanlist = []
for line in tempList:
    if line.startswith('\n'):
        continue
    if len(line) == 0:
        continue
    cleanlist.append(line)

print(cleanlist)

measureTime = cleanlist[0]
Date = cleanlist[1]
CernoxA = cleanlist[2]
heater = cleanlist[-2]
power = cleanlist[-1]

# hour, min, seg = tempList[0].split(':')
# print(tempList[0])
# print(tempList[2])
# len(tempList[1])
print(measureTime)
print(Date)
print(CernoxA)
print(heater)
print(power)

['22:05:31', '2023-08-17,', '+170.00,', '+169.98,', 'HP', '+003.1%', 'High']
22:05:31
2023-08-17,
+170.00,
+003.1%
High